<div id="header">
<!-- Logo -->
	<h1><a href="<%= root_path %>" id="logo">Ubertail <em>for stores retail</em></a></h1>
  <!-- Nav -->
	<nav id="nav">
		<ul>
			<li><%= link_to "Home", root_path %></a></li>
			<% if user_signed_in?  %>
				<li><%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete %></li>
			<% elsif driver_signed_in?  %>
				<li><%= link_to "Cerrar sesion", destroy_driver_session_path, method: :delete %></li> 
			<% else %>
				<li id="registro"><%= link_to "Registrate", registro_path %></li>
				<li id="sesion"><%= link_to "Inicia sesion", sesion_path %></li>
			<% end %>
		</ul>
  </nav>
</div>