<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li><%= link_to "HOME", root_path, class:"button" %></a></li>
    <% if user_signed_in? %>
      <li><%= link_to "Mis solicitudes", requests_path, class:"button" %></li>
      <li><%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete, class:"button" %></li>
    <% elsif driver_signed_in? %>
      <li><%= link_to "Cerrar sesion", destroy_driver_session_path, method: :delete , class:"button" %></li>
    <% else %>
      <li><%= link_to "Inicia sesion", sesion_path, class:"button"%></li>
      <li><%= link_to "Registrate", registro_path, class:"button"%></li>
    <% end %>
    </ul>
  </div>
</nav>
