<%= form_with(model: request, local: true) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :driver_id %>
    <%= form.text_field :driver_id %>
  </div>

  <div class="field">
    <%= form.label :payment_id %>
    <%= form.text_field :payment_id %>
  </div>

  <div class="field">
    <%= form.label :store_id %>
    <%= form.text_field :store_id %>
  </div>

  <div class="field">
    <%= form.label :statement_id %>
    <%= form.text_field :statement_id %>
  </div>

  <div class="field">
    <%= form.label :starting_point %>
    <%= form.text_area :starting_point %>
  </div>

  <div class="field">
    <%= form.label :gps_starting_point %>
    <%= form.text_field :gps_starting_point %>
  </div>

  <div class="field">
    <%= form.label :end_point %>
    <%= form.text_area :end_point %>
  </div>

  <div class="field">
    <%= form.label :gps_end_point %>
    <%= form.text_field :gps_end_point %>
  </div>

  <div class="field">
    <%= form.label :paid %>
    <%= form.check_box :paid %>
  </div>

  <div class="field">
    <%= form.label :cancelled %>
    <%= form.check_box :cancelled %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :order_description %>
    <%= form.text_area :order_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
