<div class="container">

<p>
  <strong>User:</strong>
  <%= @request.user.name %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @request.driver %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @request.payment %>
</p>

<p>
  <strong>Store:</strong>
  <%= @request.store %>
</p>

<p>
  <strong>Statement:</strong>
  <%= @request.statement %>
</p>

<p>
  <strong>Starting point:</strong>
  <%= @request.starting_point %>
</p>

<p>
  <strong>End point:</strong>
  <%= @request.end_point %>
</p>

<p>
  <strong>Order description:</strong>
  <%= @request.order_description %>
</p>

<% if @request.documents.attached? %>
  <p>
  <strong>Documents:</strong>
  <% @request.documents.each do |document| %>
    <%= link_to(document.filename, rails_blob_path(document, disposition: "attachment")) %>
  <% end %>
  </p>
<% end %>

<p>
  <strong>Paid:</strong>
  <%= @request.paid %>
</p>

<p>
  <strong>Cancelled:</strong>
  <%= @request.cancelled %>
</p>

<p>
  <strong>Price:</strong>
  <%= @request.price %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>

</div>