<div class="container">
  <p>
    <strong>Usuario solicitante:</strong>
    <%= @request.user.name %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= @request.status %>
  </p>

  <p>
    <strong>Conductor:</strong>
    <%= @request.driver %>
  </p>

  <p>
    <strong>Punto de partida:</strong>
    <%= @request.starting_point %>
  </p>

  <p>
    <strong>Destino:</strong>
    <%= @request.end_point %>
  </p>

  <p>
    <strong>Descripción de la orden:</strong>
    <%= @request.order_description %>
  </p>

  <% if @request.documents.attached? %>
    <p>
    <strong>Documentos:</strong>
    <% @request.documents.each do |document| %>
      <%= link_to(document.filename, rails_blob_path(document, disposition: "attachment")) %>
    <% end %>
    </p>
  <% end %>

  <p>
    <strong>Paid:</strong>
    <%= @request.paid %>
  </p>


  <p>
    <strong>Precio:</strong>
    <%= @request.price %>
  </p>

  <%= link_to 'Edit', edit_request_path(@request), class:"button alt" %> 
  <%= link_to 'Back', requests_path, class:"button alt" %>
</div>