<title>Detalle solicitud</title>
<div class="container">
  <h3 class="text-center"><strong>DETALLE</strong></h3>
  <p>
    <strong>Usuario solicitante:</strong>
    <%= @request.user.name %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= @request.status %>
  </p>

    <p>
      <strong>Conductor:</strong>
      <% if @request.status == Request::STATUS[:initialized] %>
        No asignado
      <% else  %>
        <%= @request.try(:driver).try(:name) %>
      <% end %>
    </p>

  <p>
    <strong>Punto de partida:</strong>
    <%= @request.starting_point %>
  </p>

  <p>
    <strong>Destino:</strong>
    <%= @request.end_point %>
  </p>

  <p>
    <strong>Descripción de la orden:</strong>
    <%= @request.order_description %>
  </p>

  <% if @request.documents.attached? %>
    <p>
    <strong>Documentos:</strong>
    <% @request.documents.each do |document| %>
      <%= link_to(document.filename, rails_blob_path(document, disposition: "attachment"),class:"button alt") %>
    <% end %>
    </p>
  <% end %>

  <p>
    <strong>Precio:</strong>
    <%= @request.price %>
  </p>

  <p>
    <strong>Abonado:</strong>
    <%= @request.paid %>
  </p>

  <% if current_user && @request == Request::STATUS[:initialized] %>
    <%= link_to 'Edit', edit_request_path(@request), class:"button alt" %> 
  <% end %>
</div>