<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @request.user %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @request.driver %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @request.payment %>
</p>

<p>
  <strong>Store:</strong>
  <%= @request.store %>
</p>

<p>
  <strong>Statement:</strong>
  <%= @request.statement %>
</p>

<p>
  <strong>Starting point:</strong>
  <%= @request.starting_point %>
</p>

<p>
  <strong>Gps starting point:</strong>
  <%= @request.gps_starting_point %>
</p>

<p>
  <strong>End point:</strong>
  <%= @request.end_point %>
</p>

<p>
  <strong>Gps end point:</strong>
  <%= @request.gps_end_point %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @request.paid %>
</p>

<p>
  <strong>Cancelled:</strong>
  <%= @request.cancelled %>
</p>

<p>
  <strong>Price:</strong>
  <%= @request.price %>
</p>

<p>
  <strong>Order description:</strong>
  <%= @request.order_description %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
