	<body class="landing is-preload">
			<!-- Banner -->
				<section id="banner">
					<h2>Envio express</h2>
					<p>App para solicitar servicios de entrega, de productos comprados en tiendas con tipo de despacho retiro en tienda</p>
					<ul class="actions special">
					<% if user_signed_in? %>
						<li><%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete, class:"button primary" %></li>
					<% elsif driver_signed_in? %>
						<li><%= link_to "Cerrar sesion", destroy_driver_session_path, method: :delete , class:"button primary" %></li>
					<% else %>
						<li><%= link_to "Inicia sesion", sesion_homes_path, class:"button primary"%></li>
						<li><%= link_to "Registrate", registro_homes_path, class:"button"%></li>
					<% end %>
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">
					<section class="box special">
						<header class="major">
							<h2>Controla el tiempo de retiro y recepcion de tus productos</h2>
						</header>
						<span class="image featured"><img src="https://3cero.com/wp-content/uploads/2014/10/La-importancia-del-servicio-de-entrega-a-domicilio.jpg" alt="" /></span>
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="icon major fas fa-car"></span>
								<h3>Diversos medios de transportes</h3>
								<p>Los cuales se adapten a las dimensiones del envio, para lograr una mayor seguridad y eficacia del servicio</p>
							</section>
							<section>
								<span class="icon major far fa-clock accent5"></span>
								<h3>Tiempo de respuesta</h3>
								<p>Sabemos lo importante de sus envios, por eso ofrecemos excelentes tiempos de respuesta a nuestros clientes frente a sus requerimientos.</p>
							</section>
						</div>
						<div class="features-row">
							<section>
								<span class="icon major fas fa-map-pin"></span>
								<h3>Sigue tu envio</h3>
								<p>Consultando el estado de cada solicitud para así verificar y mantenerte informado del proceso del envio </p>
							</section>
							<section>
								<span class="icon major fa-lock accent5"></span>
								<h3>Seguridad y eficacia</h3>
								<p>Tu tranquilidad es lo más importante
								Nos comprometemos a ayudar a los usuarios y conductores para que lleguen a los productos a sus destinos sin preocupaciones.</p>
							</section>
						</div>
					</section>

					<div class="row">
						<div class="col-6 col-12-narrower">

							<section class="box special">
								<span class="image featured"><img src="https://gananci.com/wp-content/uploads/2017/07/mensajero-entregando-paquete.jpg" alt="" /></span>
								<h3>Registrate como usuario</h3>
								<p>Podras recibir tus productos desde tu comodidad realizando solicitudes, siguiendo el status de estas.</p>
								<ul class="actions special">
 									<li><%= link_to "Registrate como solicitante ", new_user_registration_path, class:"button alt" %></li>
								</ul>
							</section>

						</div>
						<div class="col-6 col-12-narrower">

							<section class="box special">
								<span class="image featured"><img src="http://umzug-nrw.koeln/assets/img/cover-services.jpg" alt="" /></span>
								<h3>Registrate como conductor</h3>
								<p>Podras aceptar y realizar entregas con diferentes medios de transportes, generando más ingresos por entregas</p>
								<ul class="actions special">
									</li><%= link_to "Registrate como conductor", new_driver_registration_path, class:"button alt" %></li>
								</ul>
							</section>

						</div>
					</div>

				</section>

			<!-- CTA -->
				<section id="cta">

					<h2>Cotiza tu envio</h2>
					<p>Calcula una tarifa para tu próxima solicitud. Simplemente ingresa un punto de partida y un destino</p>
					<%= form_with(url: 'homes', method: :get, local: true) do |f| %>
						<div class="row gtr-50 gtr-uniform">
							<div class="col-8 col-12-mobilep">
								<%= f.text_field :starting_point, placeholder:"Ingresa punto de partida" %>
							</div>
							<div class="col-8 col-12-mobilep">
								<%= f.text_field :end_point, placeholder:"Ingresa punto de llegada"  %>
							</div>
							<div class="col-4 col-12-mobilep">
								<%= f.submit "Cotizar", class:"fit" %>
							</div>
						</div>
					<% end  %>
				</section>
		</div>
	</body>