<div class="container">
  <h3 class="text-center"><strong>PERFIL</strong></h3>
  <select name="" id=""></select><br>
  <div class="card-deck">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title text-center"><strong>Datos</strong></h3>
        <h1><strong>Nombre:</strong> <%= current_driver.name %></h1>
        <h1><strong>Email:</strong>  <%= current_driver.email %></h1>
        <h1><strong>Dirección:</strong>  <%= current_driver.address %></h1>
        <h1><strong>Teléfono:</strong> <%= current_driver.phone %></h1>
        <%= link_to edit_driver_registration_path do %>
          <i class="far fa-edit"></i>
        <% end %> 
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title text-center"><strong>Solicitudes realizadas</strong></h3>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title text-center"><strong>Solicitudes pendientes</strong></h3>
      </div>
    </div>
  </div>
</div>